#app {
  @for $i from 1 to 10 {
    ._mt#{$i} {
      margin-top: 0.5em * $i;
    }
  }

  @for $i from 1 to 10 {
    ._mb#{$i} {
      margin-bottom: 0.5em * $i;
    }
  }

  @for $i from 1 to 10 {
    ._ml#{$i} {
      margin-left: 0.5em * $i;
    }
  }

  ._tr {
    text-align: right;
  }

  ._fr {
    float: right;
  }

  ._text {
    color: #888;
  }

  ._pointer:hover {
    cursor: pointer;
  }

  ._text-danger {
    color: #ff4949;
  }

  ._text-warning {
    color: #f7ba2a;
  }

  ._p0 {
    padding: 0;
  }
}